.input-container, #output, #backdeop, .mark-blue {
    width: 45%;
    font-family: Monaco, Consolas;
}

#output {
    height: 430px;
    border: 1px solid rgba(217, 217, 217);
    border-radius: 4px;
    cursor: text;
    padding: 5px;
    line-height: 0.5;
    font-weight: bold;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input {
    background-color: transparent;
    color: black;
    z-index: 1;
}

#input, #backdrop {
    line-height: 2;
    font-size: 22px;
    letter-spacing: 1px;
}

textarea {
    color: transparent;
    position: absolute;
}

.mark-blue {
    background-color: #c1e144;
    border-radius: 4px;
    padding: 0; 
}

#backdrop {
    overflow: auto;
    position: absolute;
    z-index: 2;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
    padding: 4px 11px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: transparent;
}

.error {
    color: #a50202;
}

.warning {
    color: #ffbd2d;
}

.pink {
    color: red;
}

.blue {
    color: rgb(0, 85, 170);
}

.bold {
    font-weight: bold;
}

mark {
    padding: 0;
    background: white;
}